.gradle/
.settings/
bin/
build/
run/
generated/
!src/main/generated/
!src/main/generated/**
src/main/generated/.cache/
.classpath
.project
*.launch
/.apt_generated/
.factorypath
logs/
.idea/
*.iml
classes/
out/
.vscode/launch.json
